/* ==== Estilos generales ==== */

:root {
  --color-main: #00bc7d;
  --color-remove: red;
}

/* ==== Formateamos el documento ==== */

* {
  /* border:solid red 1px;  border:solid red 1px;  ==== testing ==== */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI";
}

/*Eliminamos todos lo estilos por defecto de los button inputs y select*/
input,
button,
select {
  outline: none;
}

h1,
.logo-icon {
  display: inline-block;
  vertical-align: middle;
}

h1 {
  font-size: 40px;
}
.logo-icon {
  width: 60px;
  height: 60px;
}

header {
  background-color: var(
    --color-main
  ); /* ==== Damos color de fondo al header ==== */
  color: white; /* ==== Damos color a la letra ==== */
  display: flex; /* ==== Lo hacemos flexible ==== */
  justify-content: space-between; /* ==== Lo distribuimos ==== */
  padding: 1rem; /* ==== Damos un padding para separarlo del borde ==== */
}

.price-section {
  padding: 0 2rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: 20px;
}

#options-region {
  width: 120px;
  height: 2.5rem;
  padding: 5px;
  border: 0.09rem solid white;
  border-radius: 5px;
  background: white;
  color: var(--color-main);
  font-size: 18px;
  cursor: pointer;
}

#options-region option {
  color: white;
  background-color: var(--color-main);
}

#options-region option:hover {
  cursor: pointer;
}

#priceKw {
  width: 6rem;
  height: 2rem;
  border-radius: 0.3rem;
  background: none;
  color: white;
  border: solid white 0.09rem;
  text-align: center; /* ==== Alineamos el texto ==== */
  font-size: 20px; /* ==== Damos un tamaño al texto ==== */
}

main {
  padding: 20px;
  display: grid;
  grid-template-columns: 7fr 3fr; /* 2 columnas */
  gap: 1.2rem;
}

/* Seccion de eletrodomesticos*/

.devices {
  background-color: #f0fdf4;
  border-radius: 15px;
  padding: 20px;
}

.title-devices {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.title-devices > p {
  font-size: 25px;
  font-weight: 600;
}

#add-device {
  cursor: pointer;
  width: 10rem;
  height: 40px;
  border-radius: 10px;
  background-color: var(--color-main);
  color: white;
  border: none;
  text-align: center; /* ==== Alineamos el texto ==== */
  font-size: 20px; /* ==== Damos un tamaño al texto ==== */
}

.device-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  margin-bottom: 10px;
  border: solid rgb(209, 209, 209) 1px;
}

.device-item-name-title {
  font-weight: 500;
  font-size: 20px;
}

.device-item-name-text {
  font-size: 18px;
  color: gray;
}

.device-inputs > input {
  width: 100px;
  color: rgb(69, 69, 69);
  font-size: 18px;
  text-align: center;
  height: 30px;
  border-radius: 5px;
  border: solid rgb(209, 209, 209) 1px;
}

.device-inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.device-inputs label {
  color: gray;
  font-size: 18px;
}

/*Estilos boton para remover device*/

.device-item-remove-btn {
  border: none;
  color: red;
  background: none;
  font-size: 1rem; /* ==== Damos un tamaño al texto ==== */
  transition: transform 0.2s ease;
  font-weight: 800;
  cursor: pointer;
}

.device-item-remove-btn:hover {
  transform: scale(1.3);
}

#ahorro-bar {
  width: 100%;
}

.ahorro-bar {
  font-weight: 600;
  font-size: 20px;
  vertical-align: middle;
}
#valor,
.porcent-valor {
  vertical-align: middle;
  color: var(--color-main);
  font-size: 25px;
  font-weight: 600;
}

#ahorro-bar:hover {
  cursor: pointer;
}

/* FIN   Seccion de eletrodomesticos*/

/*Seccion de report chart*/

.report-chart {
  grid-column: 2;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-height: 0;
}

.chart {
  flex: 1;
  min-height: 0;
  margin-bottom: 20px;
}

.report {
  height: auto;
}

.report-kw {
  font-size: 40px;
  color: #00bc7d !important;
}

.report div > p {
  color: gray;
  font-size: 20px;
  font-weight: 400;
}

.report div strong {
  color: black;
}

.report-ahorro {
  color: #00bc7d !important;
}

.report-ahorro strong {
  color: #00bc7d !important;
}

.report,
.chart {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  border: solid rgb(209, 209, 209) 1px;
}

/* Consejos*/

.tips {
  padding: 15px;
  grid-column: 1 / -1;
  background-color: #f0fdf4;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.tip-item {
  width: 25%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border: solid rgb(209, 209, 209) 2px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: transform .5s ease, border .5s ease;
}

.tip-item:hover {
  transform: translatey(-7px);
  border: solid var(--color-main) 2px;
}

.tip-item > img {
  width: 50px;
  height: 50px;
}

.title-tip-item {
  color: var(--color-main);
  font-weight: 650;
  text-align: center;
}

/*Estilos footer*/

footer {
  background-color: var(--color-main);
  color: white;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 20px;
}

/* diseño responsivo */
@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr; /* 1 columna en móvil */
  }
}
